*{
    margin: 0;
    padding: 0;
}

 /* Navbar */
    .navbar {
        font-family: Arial, sans-serif;
        background-color: #000;
    }
    
    .navbar-brand {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
    }
    
    .navbar-brand img {
        width: 40px;
        margin-right: 10px;
    }
    
    .navbar-nav {
        margin-left: auto;
         background:#000;
    }

    .nav-link {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
     .d-flex{
        background-color: #000;
    }
    .form-control {
        width: 200px;
        margin-right: 10px;
    }
    
    
    /* Home section */
    #home {
        background: #b5aaff;
        text-align: center;
        padding: 50px;
             
    }
    
    .heading {
        font-size: 36px;
        margin-top: 100px; 
    }
    
    /* Carousel */
    #demo {     
        background: #b5aaff;
    }
    
    .carousel-item img {
        width: 100%;
        height: auto;
    }
    
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        color: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    /* About section */
    #about {
        background:#866aff;
        text-align: center;
        margin-top: 50px;
    }
    
    .my-pic img {
        width: 75%;
        height: 50%;
        border-radius: 50%;
    }
    
    .name h2 {
        font-size: 24px;
    }
    
    .objectives {
        margin-top: 50px;
    }
    .capabilities,
    .progress{
         margin-right: 10px;
        margin-left:10px;
    }
    .skills p,
    .languages div {
        margin-bottom: 0;
         margin-right: 10px;
        margin-left:10px;
    }
    
/* Educational Background*/
#education{
    display: flex;
    flex-direction: column;
    background-color: purple;
    margin-top: 50px;
}
#education h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}
.box{
    height: 400px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p{
    color: white;
    font-size: 1.1rem;
}
    /* Projects section */
    #projects {
        background:#866aff;
        text-align: center;
        margin-top: 50px;
    }
    
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
    }
    
    .projects img {
        width: 200px;
        height: auto;
    }
    
    /* Contact section */
    #contact {
        background: #b5aaff;
        text-align: center;
        margin-top: 50px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-right: 10px;
        margin-left:10px;
    }
    
    .input {
        width: 300px;
        margin-bottom: 10px;
        
    }
    
    #message {
        width: 500px;
    }
    
    #submit {
        width: 100px;
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
  }

  .contacts a {
    margin: 0 10px;
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }

  .contacts a:hover {
    color: #007bff;
  }


 